.player1 {
	height:200px;
	width:1260px;
	top:100px;
	position: relative;
	background-color: lightgrey;
}

.player2 {
	height:200px;
	width:1260px;
	background-color: lightgreen;
	position:relative;
	top:100px;
}

h1 {
	font-family:fantasy;
}

#car1 {
	height:58px;
	width:120px;
	position: relative;
	top:75px;
	left:4px;
}

#car2 {
	height:60px;
	width:120px;
	position: relative;
	top:75px;
	left:4px;
}